#navbarToggleExternalContent {
    position: fixed;
    top: 0;
    min-width: 300px;
    width: 35%;
}

.font-title {
    /* font-family: "Karma", "sans-serif"; */
    font-size: 1.5rem;
}

.blog-img {
    width: 100%;
    max-height: 50px;
    max-width: 50px;
    /* display: inline-block; */
}

section {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.list-group-item {
    border: none;
}
.list-group.list-group-item :nth-child(odd)
{
    border-bottom-color: grey;
}

#navbarToggleExternalContent nav {
    width: 100%;
}

#navbarToggleExternalContent .btn {
    text-align: left;
}

.pagination {
    text-align: center;
}

.collapse {
    height: auto;
    width: auto;
  }
  
.collapse.height {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.width {
    position: relative;
    width: 0;
    overflow: hidden;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.collapse.in.width {
    width: auto;
}

.collapse.in.height {
    height: auto;
}    

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.col-sm-4 .btn {
    margin: 3px;    padding: 6px;
    font-size: 0.75rem;
}

.list-group-item {
    display: flex;
}